:root{
  --text-primary: #373435;
  --accent: #7F3300;
  --accent-alpha: rgb(127, 51, 0, .05);
  --papiro: #fffef0
}

*{
  margin: 0;
  padding:0; 
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


label{
  color: var(--text-primary);
  font-weight: bold;
}

